@import "fonts"

html, body 
	height: 100%
	padding: 0px
	margin: 0px

div
	position: relative

@import "header"

section 
	position: relative
	overflow: hidden
	width: 100%
	min-height: 100%
	height: 100%
	padding: 0
	margin: 0 auto
	text-align: center

	color: white
	font-family: "futura-pt"
	font-style: italic
	font-size: 30px
	font-weight: 700

	.content 
		vertical-align: middle
		display: grid
		box-sizing: border-box
		padding: 0
		text-align: center



@import "one"

@import "two"